.button {
  display: flex;
  align-items: center;
  padding: 1.5em 2.5em;
  background-color: $btn-bg-color;
  border: none;
  color: $btn-text-color;
  transition: all 0.2s ease;
  cursor: pointer;

  .loader path {
    fill: $btn-text-color;
  }
}

:global(.btn_over) {
  background-color: $btn-over-color;
}
:global(.btn_disabled) {
  background-color: $btn-disabled-color;
}
:global(.btn_pressed) {
  background-color: $btn-pressed-color;
}
